div {
  font-family: "Roboto", "Helvetica", "Arial"
}

h1 {
  font-weight: 300;
  padding-left: 150px;
  margin: 50;
  display: block;
}

.container {
  margin: auto;
  width: 530px;
  display: block;
}

#container {
  height: 100px;
  margin: auto;
}

#gameBoard {
  top: 10%;
  position: relative;
}

#gameBoard div:nth-child(1) li {
  border-top: 4px solid #464646;
}

#gameBoard div:nth-child(4) li {
  border-top: 3px solid #464646;
}

#gameBoard div:nth-child(6) li {
  border-bottom: 3px solid #464646;
}

#gameBoard div:nth-child(9) li {
  border-bottom: 4px solid #464646;
}

#gameBoard div li:first-of-type {
  border-left: 4px solid #464646;
}

#gameBoard div li:nth-of-type(3) {
  border-right: 3px solid #464646;
}

#gameBoard div li:nth-of-type(7) {
  border-left: 3px solid #464646;
}

#gameBoard div li:last-of-type {
  border-right: 4px solid #464646;
}

.board ul {
  margin: 0;
  padding: 0;
  display: block;
}

.board li {
  float: left;
  list-style: none;
  border: 0.2px solid #464646;
  /*border: 1px solid;*/
}

.board li input {
  width: 30px;
  height: 30px;
  line-height: 30px;
  padding: 10px;
  font-size: 40px;
  font-weight: 300;
  /*display: block;*/
  text-align: center;
  cursor: default;
}

.board input:disabled {
  color: gray;
}

input:focus {
  outline: none;
  background-color: #dbe3f5;
}

.invalid:focus {
  outline: none;
  background-color: #fbb8b8;
}

.invalid {
  background-color: #f4a1a1;
}

.buttons {
  justify-content: center;
}

.btn {
  border-radius: 5px;
  color: #226699;
  cursor: pointer;
  display: inline-block;
  font-weight: 200;
  letter-spacing: .5px;
  margin: 10px 29px 10px 29px;
}

.btn-alt {
  border: 1px solid #226699;
  padding: 7px 13px;
}

.btn-alt:hover {
  background: #226699;
  color: #fff;
}