<div id="content" ng-controller="GameController">
<h1>Simple Sudoku</h1>
<div class="buttons">
  <button class="btn btn-alt" ng-click="getNew()" ng-disabled="disable">new</button>
  <button class="btn btn-alt" ng-click="reset()">reset</button>
  <button class="btn btn-alt" ng-click="getSol()">solve</button>
  <button class="btn btn-alt" ng-click="checkSol()">check</button>
</div>
<br>
<!-- <form ng-submit="state.set(row, col, enter); enter=''">
  <input type="text" ng-model="enter">
</form> -->
<div id="container">
  <div class="board" id="gameBoard">
    <div ng-repeat="row in state.board track by $index">
      <ul class="row" ng-mouseover="setRow($index)">
        <li ng-repeat="char in row track by $index">
          <input ng-mouseover="setCol($index)" ng-model="char.value" ng-disabled="!char.mutable" ng-class="{invalid: char.invalid}"></input></li>
      </ul>
    </div>
  </div>
</div>
<!-- <p>{{state.origBoard}}</p>
<p>{{state.board}}</p> -->